/* 顶部导航 */

.topbar{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

background:#111;

position:sticky;

top:0;

z-index:10;

}


.logo{

font-size:22px;

font-weight:bold;

}


.topbar input{

width:40%;

}



/* 页面布局 */

.layout{

display:flex;

}



/* 左侧菜单 */

.sidebar{

width:220px;

padding:20px;

background:#181818;

min-height:100vh;

}


.sidebar div{

padding:15px;

cursor:pointer;

border-radius:10px;

}


.sidebar div:hover{

background:#333;

}


.sidebar hr{

border-color:#333;

}



/* 主内容 */

main{

flex:1;

}



/* 视频网格 */

#videos{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(260px,1fr));

gap:25px;

padding:25px;

}



/* 手机 */

@media(max-width:768px){


.sidebar{

display:none;

}


.topbar input{

width:60%;

}


#videos{

grid-template-columns:

repeat(2,1fr);

}

}
